header{
  background:#eee;  
  padding:25px 0;
}

header a{
  color:#000;
  text-decoration: none;
}

header h1{
  margin:0;
  padding:0;
}

.container{
  width:80%;
  margin:0 auto;
}

header .container{
  display: flex;
  justify-content: space-between;
}

nav a{
  display: inline-block;
  padding:0 15px;
}

nav{
  text-align: right;
  align-self: center;
}

.restaurant-list{
  padding:75px 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.restaurant-list .rest-item{
  width:32.3%;
  padding:0px;
  border:1px solid #ccc;
  border-radius:5px;
  margin:5px;
}

.restaurant-list .rest-item figure{
  margin:0 0 15px 0;
  padding:0;
}

.restaurant-list .rest-item figure img{
  height:250px;
  object-fit: cover;
}

.restimg{
  width:100%;
  border-radius:5px;
}

.restaurant-list .rest-item article{
  padding:0 15px;
}

.restaurant-list .rest-item article h3{
  margin:0;
  padding:0;
}

